# /usr/lib/systemd/system/backup.timer

[Unit]
Description=Stew's weekly backup

[Timer]
OnCalendar=*-*-* 02:00:00
Unit=backup.service

[Install]
WantedBy=multi-user.target


